@import "ui-variables";

.status {
    color: @text-color;
    width: 50px;
}
.status-ignored {
    color: @text-color-subtle;
}
.status-added {
    color: @text-color-added;
}
.status-modified {
    color: @text-color-modified;
}
.status-removed {
    color: @text-color-removed;
}
.status-renamed {
    color: @text-color-modified;
}
