@import "ui-variables";
/*
.tree-view-resizer {
    .tree-view-resize-handle {
        width: 0;
    }
}

.directory {
    margin: 0;
    padding: 0;
    .header {
        color: #79cac1 !important;
        border-bottom: 1px solid #79cac1;
    }
}

.directory.status-ignored {

    >.header {
        color: @text-color-subtle !important;
        border-bottom: 1px solid @text-color-subtle;
    }

}

.project-root {
    >.header {

    }
}

.focusable-panel {
    opacity: 1;
    &:focus {
        background: @background-color;
        .selected:before {
            background: transparent;
            color: @background-color;
        }
    }
}
[data-show-on-right-side=true] {
    .tree-view .selected:before,
    .focusable-panel {
        /* box-shadow: inset 3px 0 0 rgba(0,0,0, .05); 
    }
}

*/
